.section-about {
  padding: 25rem 0;
  background-color: $color-2;
  min-height: 50vh;
}

// .section-offer {
//   min-height: 60rem;
//   background-color: $color-home-background;
//   position: relative;
// }

.section-location {
  background-color: $color-3-light;
}
