.section-about {
  min-height: 50rem;
  padding: 7rem 0;
  -webkit-clip-path: ellipse(110% 52% at 50% 45%);
  clip-path: ellipse(110% 52% at 50% 45%);
}

.section-offer {
  min-height: 60rem;
  background-color: rgb(216, 226, 188);
}
