.section-about {
  min-height: 50rem;
  padding: 7rem 0;
  background-color: $color-white;

  // -webkit-clip-path: ellipse(110% 52% at 50% 45%);
  // clip-path: ellipse(110% 52% at 50% 45%);
}

.section-offer {
  min-height: 60rem;
  padding: 0 0 15rem 0;
  background-color: rgb(216, 226, 188);
}
