// Do all the styling here right now, and then just divide it up later

.itempage {
  width: 100%;
  display: flex;
  min-height: 100vh;
  flex-wrap: wrap;

  // remove the margin later, it's just here right now so the navbar wont be in the way and so there's more space after more products
  padding: 2rem 0 15rem 0;

  &__left {
    width: 60%;
    // height: 80rem;
    // background: red;

    &__image {
      width: 100%;
      height: 65rem;
      text-align: right;
      margin: 0 auto;
      border: 4px double $color-light-greyish;

      & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &__smallimages {
      width: 100%;
      height: 15rem;
      // background: blue;
      margin: 1rem 0;

      &__box {
        width: 14rem;
        height: 14rem;
        border: 1px solid black;
      }
    }
  }

  &__right {
    width: 40%;
    // height: 80rem;
    padding: 0 2rem;
  }

  &__text {
    &__name {
      font-size: 2.2rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      // text-align: center;
      font-weight: bold;
    }

    &__description {
      font-size: 1.5rem;
    }
  }

  &__button {
    margin-top: 1rem;
    padding: 1rem;
  }

  &__moreproducts {
    width: 100%;
    text-align: center;

    &__container {
      width: 100%;
      margin: 2rem 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__box {
      width: 22rem; // Add a minimum width later once you're working on the responsiveness
      height: 22rem;
      padding: 0.5rem;
      border: 4px double $color-light-greyish;

      & img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__form {
    margin-top: 2rem;
  }
}
