body {
  // font-family: 'Raleway', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  // font-size: 16px;
  line-height: 1.7;
  color: $color-black;
}

.heading-primary {
  color: $color-black;
  font-size: 3.5rem;
  text-transform: capitalize;
  letter-spacing: 3px;
}

.heading-secondary {
  color: $color-black;
  font-size: 2.5rem;
  text-transform: capitalize;
  letter-spacing: 3px;
}

.text {
  &--about {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  &--offer {
    font-size: 2.2rem;
  }

  &--location {
    font-size: 1.6rem;
  }
}

// //have 2 types with 2 different font color
// .heading-tertiary {
//   color: $color-black;
//   font-size: 2.5rem;
//   text-transform: uppercase;
//   letter-spacing: 3px;

//   @include respond(phone) {
//     letter-spacing: 2px;
//   }

//   @include respond(small-phone) {
//     letter-spacing: 1px;
//   }
// }

// .heading-tertiary-white {
//   color: $color-white;
//   font-size: 2.5rem;
//   text-transform: uppercase;
//   letter-spacing: 3px;

//   @include respond(phone) {
//     letter-spacing: 2px;
//   }

//   @include respond(small-phone) {
//     letter-spacing: 1px;
//   }
// }
