$color-white: #fff;
$color-black: #000;
$color-grey: grey;

// FONT
$default-font-size: 1.6rem;

// Color for the circles in about section
$color-bluish: rgb(217, 217, 235);
$color-yellowish: rgba(196, 196, 61, 0.205);

// Grid
$grid-width: 114rem;
$gutter-vertical: 2rem;
$gutter-horizontal: 2rem;

$color-home-background: rgb(216, 226, 188);

// color of the border in the gallery grid
$color-light-greyish: #bbbbbb;

// color of the curve shadow in the homepage
$color-curve-shadow: rgb(175, 175, 241);

// color for the homepage header text
$color-greenish: rgb(134, 212, 134);

// color palette
$color-1: #011627;
$color-2: #fdfffc;
$color-3: #2ec4b6;
$color-4: #e71d36;
$color-5: #ff9f1c;
$color-3-light: #c6eeeb;
