$color-white: #fff;
$color-black: #000;
$color-grey: grey;

// FONT
$default-font-size: 1.6rem;

// Color for the circles in about section
$color-bluish: rgb(217, 217, 235);
$color-yellowish: rgba(196, 196, 61, 0.205);

// Grid
$grid-width: 114rem;
$gutter-vertical: 2rem;
$gutter-horizontal: 2rem;

$color-home-background: rgb(216, 226, 188);

// color of the border in the gallery grid
$color-light-greyish: #bbbbbb;
