.about {
  // background-color: yellow;
  &__container {
    display: flex;

    &--left {
      width: 45%;
      // background-color: yellow;
      height: 40rem;
      position: relative;
      padding: 1rem;
    }

    &--right {
      width: 55%;
      // background-color: green;
      height: 40rem;
      text-align: left;
      padding: 1rem;
      position: relative;
    }
  }

  &__text {
    @include centerVertical;
  }

  &__image {
    &--1 {
      height: 30rem;
      width: 30rem;
      background-image: url('../../img/sx_about1.jpg');
      background-size: cover;
      background-position: top;
      -webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
      @include absCenter;
    }

    &--2 {
      height: 14rem;
      width: 14rem;
      @include absCenter;
      background-image: url('../../img/sx_about1.jpg');
      background-size: cover;
      background-position: center;
      -webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);

      &__border {
        height: 14.5rem;
        width: 14.5rem;
        background-color: $color-white;
        position: absolute;
        left: 60%;
        top: 10%;
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
      }
    }

    &--3 {
      height: 10rem;
      width: 10rem;
      background-color: $color-bluish;
      position: absolute;
      left: 15%;
      top: 61%;
      -webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
    }

    &--4 {
      height: 31rem;
      width: 31rem;
      margin: 0 auto;
      background-color: $color-yellowish;
      position: absolute;
      left: 19%;
      top: 14%;
      -webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
    }
  }
}
