.gallerygrid {
  width: 100%;
  min-height: 100rem;
  // background-color: pink;
  margin-top: 5rem;

  &__items {
    width: 100%;
    height: 35.8rem;
    border: 4px solid black;
    border-style: double;
    overflow: hidden;
    position: relative;

    &__image {
      width: 100%;
      height: 100%;
      object-fit: contain;

      transition: opacity 0.35s, transform 0.35s;
    }

    &__description {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 3rem;
      text-align: center;
      text-transform: none;
      opacity: 0;
      -webkit-transform: scale3d(0.8, 0.8, 1);
      transform: scale3d(0.8, 0.8, 1);
      -webkit-transform-origin: 50% -100%;
      transform-origin: 50% -100%;

      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;

      h1 {
        font-size: 1.2rem;
      }
    }

    //just the animation
    &:hover &__image {
      opacity: 0.1;
      -webkit-transform: scale3d(2, 2, 1);
      transform: scale3d(2, 2, 1);
    }

    &:hover &__description {
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
}

.row {
  max-width: $grid-width;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.col {
  width: calc((100% - 3 *#{$gutter-horizontal}) / 4);
  // background-color: red;
  // height: 10rem;
  margin-bottom: $gutter-vertical;
  margin-right: $gutter-horizontal;

  &:nth-child(4n) {
    margin-right: 0rem;
  }

  // Tab-portrait -- 3 items, phone --- 2 items, small-phone ---- 3 items.
}
