.header {
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba($color-black, 0.4),
      rgba($color-black, 0.4)
    ),
    url('../../img/header-image_large.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  -webkit-clip-path: ellipse(110% 52% at 50% 45%);
  clip-path: ellipse(110% 52% at 50% 45%);

  // -webkit-clip-path: circle(60% at 50% 10%);
  // clip-path: circle(50.0% at 50% 50%);

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;

    &--text1 {
      color: white;
      font-size: 7rem;
      text-transform: uppercase;
      line-height: 7rem;
    }

    &--text2 {
      color: white;
      font-size: 3rem;
      text-transform: capitalize;
    }

    &--btn {
      display: inline-block;
      padding: 1.2rem 1.5rem;
      margin-top: 1rem;
      color: white;
      background-color: transparent;
      font-size: 1.5rem;
      border: 2px solid white;
      text-decoration: none;
      transition: ease all 0.5s;

      &:hover {
        color: black;
        background-color: white;
      }
    }
  }
}
