nav.black {
  background: $color-black;
  padding: 1rem 0 1rem 0;
}

.nav {
  position: fixed;
  width: 100%;
  transition: 0.5s;
  padding: 3.5rem 0 1rem 0;
  z-index: 999;

  @include respond(phone) {
    padding: 1.5rem 0 1rem 0;
    background-color: $color-black;
  }

  &__logo {
    width: 25%;
    padding: 0 2rem;
    text-align: center;
    height: 5rem;

    @include respond(phone) {
      width: 80%;
      height: 6rem;
      text-align: left;
      font-size: 3.5rem;
    }

    &__image {
      width: 10rem;

      @include respond(phone) {
        width: 12rem;
      }
    }
  }

  &__menuicon {
    width: 15%;
    text-align: right;
    box-sizing: border-box;
    padding: 1.4rem 3rem;
    cursor: pointer;
    color: #fff;
    display: none;

    @include respond(phone) {
      display: block;
      font-size: 2rem;
    }
  }

  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-flow: wrap;

    .showing {
      @include respond(phone) {
        max-height: 70vh;
      }
    }

    &--left {
      width: 35%;
      text-align: left;

      @include respond(phone) {
        width: 100%;
      }
    }

    &--right {
      width: 35%;
      text-align: right;

      @include respond(phone) {
        width: 100%;
      }
    }

    ul {
      list-style: none;
      overflow: hidden;
      color: $color-white;
      padding: 0;
      margin: 0;

      @include respond(phone) {
        max-height: 0px;
        text-align: center;
        transition: all 0.5s;
      }

      li {
        display: inline-block;
        padding: 1rem 1.8rem;
        cursor: pointer;

        @include respond(phone) {
          box-sizing: border-box;
          width: 100%;
          margin-bottom: 4rem;
        }

        .nav__links {
          text-decoration: none;
          color: $color-white;
          font-size: 1.4rem;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 1px;

          @include respond(phone) {
            font-size: 2rem;
          }
        }
      }
    }
  }

  @include respond(phone) {
    &__menu :nth-child(1) {
      order: 1;
    }
  }
}

// @todo:
// 1. make sure that the logo is in the middle
// 2. change the font of the logo
