nav.black {
  background: $color-black;
  padding: 1rem 0 1rem 0;
}

.nav {
  position: fixed;
  width: 100%;
  transition: 0.5s ease;
  padding: 3.5rem 0 1rem 0;
  z-index: 999;

  @include respond(phone) {
    padding: 1.5rem 0 1rem 0;
    background-color: $color-black;
  }

  &__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;

    // The logo
    &__logo {
      flex: 0 0 25%;
      padding-left: 4rem;
      text-align: left;

      @include respond(phone) {
        flex: 0 0 30%;
        height: 6rem;
        font-size: 3.5rem;
      }

      &__image {
        width: 10rem;

        @include respond(phone) {
          width: 12rem;
        }
      }
    }

    // All the links in the navigation bar
    &__links {
      flex: 0 0 75%;
      text-align: right;
      padding-right: 2rem;

      ul {
        list-style: none;
        overflow: hidden;
        color: $color-white;
        padding: 0;
        margin: 0;

        li {
          display: inline-block;
          padding: 1rem 2rem;
          cursor: pointer;
        }

        .nav__links,
        a {
          text-decoration: none;
          color: $color-white;
          font-size: 1.4rem;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 1px;

          @include respond(phone) {
            font-size: 2rem;
          }
        }
      }
      @include respond(phone) {
        width: 100%;
      }
    }
  }
}
